version: "3.9"  # optional since v1.27.0
services:
  web:
    build: 
      context: .
      dockerfile: dockerfile
      args:
        SERVER_PORT: 8090
        INSPECT_PORT: 8091
        GIT_WEBHOOK_PORT: 8092
        GIT_WEBHOOK: "/git-webhook"
        GITHUB_LINK: https://github.com/steffenreimann/NodeJS-PM2-Docker-Example.git
        GITHUB_BRANCH: main
        START_CMD: pm2-runtime
        START_SCRIPT: ecosystem.config.js
        NODE_VERSION: current-alpine
    ports:
      - "8090:8090"
      - "8091:8091"
      - "8092:8092"
    environment:
      # ENVIRONMET_VARIABLE_NAME= "environment variable value" 
      NODE_ENV: production